body {
    background-image: url("background.jpg");
}

#layout {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    background-color: white;
    border-collapse: collapse;
}

td {
    padding: 20px;
    vertical-align: top;
    border: solid 1px blue;
}

.bookImage {
    padding-right: 20px;
}

#header {
    font-size: 30px;
}

#footer {
    text-align: center;
}